/* Style the elements here */

/* How thick should the targets be? 
The outer target radius is 12x (where x is the border thickness)
if we use a boder thickness of 8vw then our whole target will be 96% of viewport
*/

* {
    margin:0;
    box-sizing:border-box;
}

div{
    /* make all divs a circle */
    border-radius: 50%;
}
/* for some reason the first div has an id not a class - is this a hint or a trap?*/
#one {
/* outer circle colors are red & orange */
    border: 8vw solid red;
    background-color: orange;
/* Size is the outer target size = 8vw*12=98vw */
    width: 98vw;
    height: 98vw;


}
.two{
    /* middle circle colors are green & yellow */
    background-color: green;
    border: 8vw solid yellow;
    width: 64vw;
    height: 64vw;

    /* move 2x border down & Right*/
    position: absolute;
    top: 16vw;
    left: 16vw;


}
.three{
    /* inner color rebeccapurple, outer colout is royalblue */
    background-color: rebeccapurple;
    border: 8vw solid royalblue;
    /* size of inner circle should be 4x of screen - 2x inner circle plus 2 borders  */
    width: 32vw;
    height: 32vw;
    /* move 4x border down & Right*/
    position: absolute;
    top: 32vw;
    left: 32vw;


}